@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Black.eot');
    src: url('../fonts/raleway/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-BlackItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-BlackItalic.woff') format('woff'),
        url('../fonts/raleway/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: 400;
}